Flask==1.0.2
gunicorn==19.9.0
pylint==2.1.1
coverage==4.5.1
pytest==3.7.4
pymongo==3.7.1
dnspython==1.15.0
pytest-cov==2.6.0
requests==2.19.1
firebase-admin==2.13.0
PyJWT==1.6.4
Flask-JWT-Extended==3.13.0
marshmallow==3.0.0b16
Werkzeug==0.14.1
Flask-PyMongo==2.1.0
